html, body { margin: 0; padding: 0; font-family: Arial; }
header {
	background: #FFF;
	height: 35px;
	padding: 0 10px;
	position: absolute;
	left: 0;
	right: 0;
}
	header > * {
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}
footer {
	bottom: 0;
	height: 32px;
	left: 0;
	position: absolute;
	right: 0;
	text-align: right;
}
	footer > * {
		display: inline-block;
		padding: 1px;
	}

#zoomer > * {
	vertical-align: middle;
}

.dialog { z-index: 10; border: solid 1px #AAA; width: 30%; height: 60%; top: 19%; left: 35%; position: absolute; border-radius: 5px; padding: 1%; display: none; }

#application {
	background: #AAA;
	bottom: 32px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 35px;
}
	#application .wrapper {
		background: #EEE;
		overflow: auto;
	}
	#application canvas {
		display: block;
	}

#sidebar{
	padding-top: 15px;
	position: absolute;
	right: 15px;
	top: 0;
	width: 200px;
}
	#sidebar > * {
		margin-bottom: 10px;
		width: 200px;
	}

#preview {
	height: 200px;
}

.icon { width: 16px; height: 16px; padding: 4px 2px;  }

header nav {
	height: 35px;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-inline-flex;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}
nav {
	background: white;
}
nav button{
	background: transparent;
	margin: 2px;
	border: solid 1px transparent;
	border-radius: 2px;
}
	nav button:hover:not(.disabled) {
		background: #EEE;
		border: solid 1px #CCC;
		cursor: pointer;
	}
	nav button:active {
		background: #CCF0FF;
	}
	nav button.disabled {
		opacity: 0.2;
	}
	nav button.selected {
		border-color: #CCC;
	}

li {
	font-family: Helvetica, Arial;
	font-size: 13px;
	list-style-type: circle;
}
	li.complete {
		list-style-type: disc;
	}

#content {
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 15px;
	position: absolute;
	right: 215px;
	top: 0;
}

.wrapper {
	height: 100%;
	position: relative;
	width: 100%;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -o-crisp-edges;
	image-rendering:-webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	background: #EEE;
}